<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de empleados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">Lista de Empleados</h2>

    <!-- Buscador con botones -->
    <div class="row mb-4">
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Buscar empleado..." id="buscador">
        </div>
        <div class="col-md-4 d-flex">
            <button class="btn btn-primary me-2" onclick="buscarEmpleado()">Buscar</button>
            <button class="btn btn-secondary" onclick="limpiarBuscador()">Limpiar</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Puesto</th>
            <th>Departamento</th>
            <th>Ciudad</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td><a class="btn btn-success">Editar</a></td>
            <td><a class="btn btn-danger">Borrar</a></td>
        </tr>
        </tbody>
    </table>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
